In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

species = pd.read_csv('extinction-threat-to-indigenous-land-species.csv')

species.head()

,report_name,common_name,m_ori_name,species_name,category,subcategory,status_change,subcategory_change,assessment_id,report_id,...,cd,data_poor,native_resident_living,conservation_dependent,report,report_group,domain,report_group_year,report_group_comprehensive,population_trend
0,Macroalgae 2019 (Nelson et al. 2019),Red seaweed,NaN,Bangia 1,Data deficient,Data deficient,No change,No change,142794,52,...,NaN,NaN,True,False,Macroalgae 2019,Macroalgae,Marine,Macroalgae (2019),False,Not available
1,Macroalgae 2019 (Nelson et al. 2019),Red seaweed,NaN,Bangia 1,Data deficient,Data deficient,New listing,New listing,108377,52,...,NaN,NaN,True,False,Macroalgae 2019,Macroalgae,Marine,Macroalgae (2019),False,Not available
2,Macroalgae 2019 (Nelson et al. 2019),Red seaweed,NaN,Bangia 1,Data deficient,Data deficient,New listing,New listing,108381,52,...,NaN,NaN,True,False,Macroalgae 2019,Macroalgae,Marine,Macroalgae (2019),False,Not available
3,Macroalgae 2019 (Nelson et al. 2019),Red seaweed,NaN,Bangia 1,Data deficient,Data deficient,New listing,New listing,108382,52,...,NaN,NaN,True,False,Macroalgae 2019,Macroalgae,Marine,Macroalgae (2019),False,Not available
4,Macroalgae 2019 (Nelson et al. 2019),Red seaweed,NaN,Bangia 1,Data deficient,Data deficient,New listing,New listing,108383,52,...,NaN,NaN,True,False,Macroalgae 2019,Macroalgae,Marine,Macroalgae (2019),False,Not available

In [2]:
species['category'].value_counts()

category
Not threatened                    4301
Data deficient                    3573
At risk of becoming threatened    3079
Threatened                         908
Name: count, dtype: int64

In [3]:
species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11861 entries, 0 to 11860
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   report_name                 11861 non-null  object
 1   common_name                 8734 non-null   object
 2   m_ori_name                  700 non-null    object
 3   species_name                11861 non-null  object
 4   category                    11861 non-null  object
 5   subcategory                 11861 non-null  object
 6   status_change               9469 non-null   object
 7   subcategory_change          9420 non-null   object
 8   assessment_id               11861 non-null  int64
 9   report_id                   11861 non-null  int64
 10  species_id                  11861 non-null  int64
 11  genus                       11861 non-null  object
 12  family                      11861 non-null  object
 13  order                       11809 non-null  object
 14  class                       11809 non-null  object
 15  phylum                      11809 non-null  object
 16  kingdom                     11809 non-null  object
 17  pop_state                   5241 non-null   object
 18  pop_size                    4985 non-null   object
 19  size_confidence             4977 non-null   object
 20  pop_trend                   5595 non-null   object
 21  time_span_years             209 non-null    float64
 22  trend_confidence            5175 non-null   object
 23  qualifiers                  6928 non-null   object
 24  bio_status                  11861 non-null  object
 25  cd                          359 non-null    object
 26  data_poor                   1638 non-null   object
 27  native_resident_living      11861 non-null  bool
 28  conservation_dependent      11861 non-null  bool
 29  report                      11861 non-null  object
 30  report_group                11861 non-null  object
 31  domain                      11861 non-null  object
 32  report_group_year           11861 non-null  object
 33  report_group_comprehensive  11861 non-null  bool
 34  population_trend            11861 non-null  object
dtypes: bool(3), float64(1), int64(3), object(28)
memory usage: 2.9+ MB

In [4]:
species['domain'].value_counts()

domain
Land          9571
Marine        1569
Freshwater     721
Name: count, dtype: int64

In [5]:
species['kingdom'].value_counts()

kingdom
Animalia     5288
Plantae      4327
Fungi        2026
Chromista     168
Name: count, dtype: int64

In [6]:
species['phylum'].value_counts()

phylum
Arthropoda                     3065
Tracheophyta                   2744
Ascomycota                     2007
Mollusca                        791
Marchantiophyta                 747
Rhodophyta                      594
Nematoda                        567
Chordata                        536
Annelida                        185
Ochrophyta                      168
Chlorophyta                     130
Bryophyta                        99
Cnidaria                         73
Porifera                         21
Platyhelminthes                  16
Basidiomycota                    14
Anthocerotophyta                 13
Onychophora                      12
Echinodermata                     7
Bryozoa                           7
Nematomorpha                      6
Fungi Phylum incertae sedis       5
Nemertea                          1
Brachiopoda                       1
Name: count, dtype: int64

In [7]:
species['class'].value_counts()

class
Magnoliopsida                2499
Insecta                      1920
Lecanoromycetes              1625
Arachnida                    1046
Jungermanniopsida             722
                             ...
Palmophyllophyceae              1
Polytrichopsida                 1
Enopla                          1
Petromyzonti                    1
Arthropoda incertae sedis       1
Name: count, Length: 78, dtype: int64

In [8]:
species['order'].value_counts()

order
Araneae                           1033
Lecanorales                        906
Jungermanniales                    555
Coleoptera                         493
Poales                             455
                                  ...
Sordariomycetes incertae sedis       1
Gigaspermales                        1
Petromyzontiformes                   1
Pandanales                           1
Sorbeoconcha                         1
Name: count, Length: 354, dtype: int64

In [9]:
species['family'].value_counts()

family
Asteraceae                       416
Parmeliaceae                     240
Poaceae                          226
Cyperaceae                       179
Charopidae                       179
                                ...
Menyanthaceae                      1
Schizopathidae                     1
Phyllachorales incertae sedis      1
Archidiaceae                       1
Anura incertae sedis               1
Name: count, Length: 1111, dtype: int64

In [10]:
species['genus'].value_counts()

genus
Veronica                   150
Punctidae sp.              140
Carex                      116
Charopidae sp.             112
Cladonia                    86
                          ...
Jackiella                    1
Ixodiphagus                  1
Ixodes                       1
Ixerba                       1
Tineidae incertae sedis      1
Name: count, Length: 3253, dtype: int64

In [11]:
species['species_name'].value_counts()

species_name
Veronica                   150
Punctidae sp.              140
Carex                      116
Charopidae sp.             112
Cladonia                    86
                          ...
Jackiella                    1
Ixodiphagus                  1
Ixodes                       1
Ixerba                       1
Tineidae incertae sedis      1
Name: count, Length: 3253, dtype: int64